*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.menutable{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
table img{
    width: 140px;
    height: 100px;
}
.menutable table{
    width: 80%;
    border: 1px solid black;
}
.menutable table td,th{
text-align: center;
padding: 1rem;
border: 1px solid black;

}
.title h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}