*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.navigator{
    background-color: #E84C4F;
    display: flex;
    height: 7vh;

}
.logo{
    margin-left: 2rem;
    color: white;
    font-family: 'Montserrat';
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    
}
.page{
    display: flex;
    flex: 1;
    
}
.page ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page li {
    list-style: none;
    
}
.page li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}
.title h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.menutable{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
table img{
    width: 140px;
    height: 100px;
}
.menutable table{
    width: 80%;
    border: 1px solid black;
}
.menutable table td,th{
text-align: center;
padding: 1rem;
border: 1px solid black;

}

.menutable .ava{
    background-color: #E84C4F;
    color: white;
    padding: 2px 4px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
.menutable .ava:hover{
    background-color: white;
    color: #E84C4F;
}

.update-menu{

    width: 200px;
}
.btn {
    text-align: center;
    
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}
.fullhouse{
    display: flex;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1.5em;

}